html {
    box-sizing: border-box;
  }
  
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
  }
  
  p {
    margin: 0;
  }
  
  .img{
    max-width: 100%;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ul__glob {
    list-style: none;
    padding: 0;
    margin: 0;
  }

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-SemiBold'), 
    url('../fonts/Poppinspoppins-boldsemibold.woff2') format('woff2'), 
    url('../fonts/Poppinspoppins-boldsemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Medium'), 
    url('../fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'), 
    url('../fonts/Poppinspoppins-semiboldmedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Bold'), 
    url('../fonts/Poppinsbold.woff2') format('woff2'), 
    url('../fonts/Poppinsbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Regular'), 
    url('../fonts/Poppinsregular.woff2') format('woff2'), 
    url('../fonts/Poppinsregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container__background{
    background-image: url(../img/backgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top: 55px;
    margin-bottom: 155px;
}

.header__logo{
    margin-right: auto;
}

.burger{
    display: none;
}

.header__nav{
    padding-top: 16px;
    margin-right: auto;
}

.header__nav-list:not(:last-child){
    margin-right: 45px;
}

.header__nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: color .3s ease;
}

.header__nav-link:hover {
    color: red;
}

.header__contacts{
    padding-top: 16px;
}

.header__contacts-link{
    color:#fff;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../img/tel.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
}

.hero__paragraph{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero__h1{
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero__btn{
    padding-bottom: 265px;
}


.form-2{
    background-color: red;
    margin-top: 100px;
    max-width: 300px;
    position: absolute;
    visibility: hidden;
    transition: visibility;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.form-2--active{
    visibility: visible;
}

.heero__btn-2{
    margin-right: auto;
}

.hero__button{
    cursor: pointer;
    padding: 38px 65px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #3A4574;
    transition: background-color .3s ease;
}

.hero__button:hover{
    background-color: red;
}

.hero__social{
    margin-top: 16px;
}

.hero__social-item:not(:last-child){
    margin-right: 25px;
}

.menu{
    margin-top: 80px;
    margin-bottom: 178px;
}

.menu__item{
    margin-bottom: 20px;
    border-bottom: 1px solid #E7E7E7;
}

.menu__group{
    padding-bottom: 20px;
}

.menu__paragraph-1{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.menu__paragraph-2{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.paragraph-2{
    margin-right: 12px;
}

.menu__bckgrnd{
    width: 5px;
    height: 5px;
    background-color: #D3B47F;
    border-radius: 100%;
    margin-top: 13px;
    margin-right: 12px;
}

.menu__container-1{
    margin-left: 128px;
    width: 471px;
    height: 502px;
    border: 2px solid #D3B47F;
    margin-top: 51px;
}

.menu__container-2{
    position: absolute;
    background-image: url(../img/menu-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 323px;
    height: 486px;
    margin-top: 152px;
    margin-left: 32px;
}

.menu__container-3{
    position: absolute;
    background-image: url(../img/menu-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 323px;
    height: 486px;
    margin-left: 377px;
}

.swiper__section{
    background-color: #3A4574;
}

.swiper-wrapper{
    padding-top: 220px;
}

.background__swiper-img{
    background-image: url(../img/kav.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 83px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;

}

.swiper__section-h2{
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #D3B47F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.swiper__section-p1{
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.swiper__section-p2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #D3B47F;
    margin-bottom: 220px;
}

.swiper-button-prev {
    color: #fff;
}

.swiper-button-next{
    color: #D3B47F;
}

@media (max-width: 1200px){
    .container{
        max-width: 900px;
    }
    .menu-right{
        display: none;
    }
}

@media (max-width: 925px){
    .container{
        max-width: 500px;
    }

    .header__burger{
        display: flex;
        margin-right: auto;
        margin-top: 20px;
    }

    .header__burger-1 {
        display: block;
        position: relative;
        width: 24px;
        height: 21px;
        z-index: 100000;
    }

    .header__burger-1::before,
    .header__burger-1::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
    }

    .header__burger-1::before{
        top: 0;
    }

    .header__burger-1::after{
        bottom: 0;
    }

    .header__burger-span{
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 3px;
        top: 9px;
    }

    .header__nav {
        position: absolute;
        left: 0;
        margin-top: -26px;
        max-width: 768px;
        min-height: 300px;
        padding-top: 100px;
        padding-left: 114px;
        z-index: 3;
        background-color: #D2D5DD;
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-120%);
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .header__nav-active{
        overflow: hidden;
        z-index: 10;
        visibility: visible;
        transform: none;
    }

    .burger-active
    .header__burger-span{
        opacity: 0;
    }

    .burger-active
    .header__burger-1::before
    {
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        z-index: 1;
    }

    .burger-active
    .header__burger-1::after
    {
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        z-index: 1;
    }

    .hero__paragraph {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
    }

    .hero__h1 {
        font-size: 32px;
        line-height: 44px;
        text-align: center;
    }

    .heero__btn-2 {
        margin-left: auto;
        margin-right: auto;
    }

    .hero__social {
        margin-left: auto;
        margin-right: auto;
    }
    
}
